<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Dashboard</title>
</head>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Diabetes Dataset
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="database">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="prediction">Prediction </a>
            </li>
        </ul>
    </div>
</nav>



<body style="background-color: #303030	">
    <section id="about" class="text-white">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2><br>General vizualisations of the data</h2>
                    <p class="lead" align="justify">Here you can find simple
                        visualizations that allow you to better understand the database </p>

                        <p align="justify"><br>These graphs allow a good understanding of the database. You get to know
                            the database and become familiar with it. To visualize more advanced graphs on the
                            importance of each variable and the correlation between the variables, I invite you to look
                            at the file Project.ipynb in the section 'Machine Learning'.<br><br><br></p>


                    <center>
                        <img src="static/sex.png" align="center" class="img-fluid" alt="Responsive image">
                        <p align="justify"><br>Proportion of men and women in the dataset <br><br><br><br><br></p>

                        <img src="static/age.png" align="center" class="img-fluid" alt="Responsive image">
                        <p align="justify"><br>Graph representing the number of admissions according to age. We can see
                            that the majority of people are rather old,
                            which seems normal for admissions related to diabetes<br><br><br><br><br></p>

                        <img src="static/time.png" align="center" class="img-fluid" alt="Responsive image">
                        <p align="justify"><br>Graph of time spent in hospital in days. A large proportion of patients
                            spend between 1 and 4 days in hospital. <br><br><br><br><br></p>

                        <img src="static/type admission.png" align="center" class="img-fluid" alt="Responsive image">
                        <p align="justify"><br>Graph of those admitted to the hospital and the reason for their
                            admission. <br><br><br><br><br></p>


                        <img src="static/race.png" align="center" class="img-fluid" alt="Responsive image">
                        <p align="justify"><br>Graph of hospital admissions according to patients' ethnicity.
                            <br><br><br><br><br>
                        </p>

                        <img src="static/prescription.png" align="center" class="img-fluid" alt="Responsive image">
                        <p align="justify"><br>Pie chart that shows the proportion of patients who have used diabetes
                            treatments or not.<br><br><br><br><br></p>

                        <img src="static/readmission yes no.png" align="center" class="img-fluid"
                            alt="Responsive image">
                        <p align="justify"><br>Pie chart of readmission, with people readmited before 30 days, after 30
                            days or never/not yet readmited<br><br><br><br><br></p>


                        <img src="static/readmission age.png" align="center" class="img-fluid" alt="Responsive image">
                        <p align="justify"><br>Diagram representing the Age of the patients in parallel with their
                            potential distribution<br><br><br><br><br></p>

                        <img src="static/readmission gender.png" align="center" class="img-fluid"
                            alt="Responsive image">
                        <p align="justify"><br>Number of readmission according to the gender <br><br><br><br><br></p>

                        <img src="static/readmission medecine diabete.png" align="center" class="img-fluid"
                            alt="Responsive image">
                        <p align="justify"><br>Number of readmission according to the intake of diabete
                            medecines<br><br><br><br><br></p>

                        <img src="static/readmission race.png" align="center" class="img-fluid" alt="Responsive image">
                        <p align="justify"><br>Number of readmission according to the race of the
                            patient<br><br></p>

                        

                    </center>

                </div>
            </div>
        </div>
    </section>
</body>

</html>