<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>


</head>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Diabetes Dataset
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="database">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="prediction">Prediction </a>
            </li>
        </ul>
    </div>
</nav>

<body style="background-color: #303030	">
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder"><br> Welcome to the python diabete study</h1>
            <p class="lead">Amélie NOYELLE - Jeremy KEENER - Josselin PENIGUEL <br><br><br> </p>

        </div>
    </header>

    <section id="about" class="text-white">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>About this project</h2>
                    <p class="lead" align="justify">This project was realized step by step. We have done several successive tasks to
                        carry out our study : </p>
                    <ul align="justify">
                        <li>Familiarization with the database, understanding the dataset</li>
                        <li>Data cleaning</li>
                        <li>Visualization of the database, with simple and more complex graphs</li>
                        <li>Implementation of a machine learning algorithm</li>
                        <li>Creation of an API using Flask and bootstrap so that a user can use the ML model with his
                            own data </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="text-white">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Quick presentation of the DB</h2>
                    <p class="lead" align="justify">The dataset represents 10 years (1999-2008) of clinical care at 130
                        US hospitals and integrated delivery networks. It includes over 50 features representing
                        patient and hospital outcomes. Information was extracted from
                        the database for encounters that satisfied the following criteria :</p>
                    <ul align="justify"> 
                        <li>It is an inpatient encounter (a hospital admission)</li>
                        <li>It is a diabetic encounter, that is, one during which any kind of diabetes was entered to the system as a diagnosis</li>
                        <li>The length of stay was at least 1 day and at most 14 days</li>
                        <li>Laboratory tests were performed during the encounter</li>
                        <li>Medications were administered during the encounter</li>
    
                    </ul>

                    <p class="lead">This data has been prepared to analyze factors related to readmission as well as
                        other outcomes pertaining to patients with diabetes.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="text-white">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>How does this app work ?</h2>
                    <p class="lead">This application is composed of 4 main parts :</p>

                    <p align="justify"><b>Home :</b> In this section, you will find all the general information necessary to understand how our API works and the general composition of the database </p>
                    <p align="justify"><b>Dashboard :</b> This section is reserved for the study of the database, you have access to several visualizations of the database, which will help you understand 
                        how the database is structured and how it can be useful to us</p>
                    <p align="justify"><b>Prediction :</b> This section will allow you to estimate if a patient is at risk of being readmitted to the hospital using the data you have. This data is 
                        then analyzed using a machine learning algorithm that we have trained with the database provided </p>
                    <p align="justify"><b>Result :</b> This page simply provides you with the estimated readmission of the patient based on the parameters entered. </p>

                </div>
            </div>
        </div>
    </section>


</body>

</html>